<div class="cover w-100 text-primary overflow-hidden m-0 p-0 position-relative ">
    <h2 class="fw-bold text-white fs-1 position-absolute top-50 start-50 translate-middle text-uppercase" style="letter-spacing: 1rem;">{{title}}</h2>
    <img class="title" style="margin-top: -20%" src="/img/aboutus-1.jpg" alt="">
</div>


<div class="bg-dark text-white w-100 text-center py-5">
    <div class=" pt-3 pb-3 px-5 section">
        <h2 class="display-4 font-weight-normal">Company Description</h2>
        <hr size="6" width="50%" style="margin: 0 auto;" />
        <p class="lead font-weight-normal">Company aimed at solving various customer problems in different environments that need an application developed according to needs. In addition to implementing, being and doing a fact.</p>
    </div>
</div>
<div class="bg-white w-100 py-5">
    <div class="row" style="--bs-gutter-x: 0rem !important;">
        <div class="col-sm-6 text-center">
            <div class="mx-auto px-5 section">
                <h2 class="display-4 font-weight-normal">Mission</h2>
                <hr size="6" width="80%" style="margin: 0 auto;" />
                <p class="lead font-weight-normal">Provide innovative software development solutions adapted to the customers’ needs in all demanding areas related to the management of processes, information, and services, with the firm objective of increasing their competitiveness, efficiency,
                    and productivity</p>
            </div>
        </div>
        <div class="col-sm-6 text-center">
            <div class="mx-auto px-5 section">
                <h2 class="display-4 font-weight-normal">Vision</h2>
                <hr size="6" width="80%" style="margin: 0 auto;" />
                <p class="lead font-weight-normal">To be a leading company in the development of high-quality software, adapting to changes and market demands, and satisfying the customers’ needs by offering solutions w ith a high level of excellence, professionalism, integrity, and loyalty
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row bg-dark text-light">
    <div class="col-12">
        <div class="pt-5 pb-5 mx-auto text-center section">
            <h2 class="display-4 font-weight-normal">Philosophy</h2>
            <hr size="6" width="80%" style="margin: 0 auto;" />
            <p class="lead font-weight-normal">Apply the knowledge acquired in computer systems, and the best technological tools, to increase the efficiency of our clients' business processes, through software solutions, products and services, developed by us. Following the best and most modern market practices.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="pt-5 pb-5 mx-auto text-center section">
            <h2 class="display-4 font-weight-normal">Values</h2>
            <hr size="6" width="80%" style="margin: 0 auto;" />
            <ul class="lead font-weight-normal list-unstyled">
                <li>Respect</li>
                <li>Leadership </li>
                <li>Collaboration </li>
                <li>Confidentiality</li>
                <li>Closeness</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 fondo">
        <div class="pt-5 pb-5 mx-auto text-center">
            <img src="/img/anuncio.jpg" width="700px" alt="">
        </div>
    </div>
</div>