<div class="cover w-100 text-primary overflow-hidden m-0 p-0 position-relative ">
    <h2 class="fw-bold text-white fs-1 position-absolute top-50 start-50 translate-middle text-uppercase" style="letter-spacing: 1rem;">{{title}}</h2>
    <img class="title" style="margin-top: -20%" src="/img/images.jpg" alt="">
</div>
<div class="container-fluid pb-3 bg-dark">
    <div class="row">
        <div class="col-lg-4 col-md-12 p-0 d-flex">
            <img src="/img/Legal storer.png" height="538px" class="img-fluid" alt="...">
        </div>
        <div class="col-lg-8 col-md-12 my-auto">
            <div class="card bgd" style="height: 538px; margin-top: 8px;">
                <div class="px-3 text-left text-light">
                    <div class="card-body">
                        <h1 class="display-6 font-weight-normal">Project/Service</h1>
                        <p class="fs-8 fw-light lead">Software that stores and manages client legal files so that their subsequent search and use by professionals in the legal area is organized, and in turn, fast.</p>
                        <h1 class="display-6 font-weight-normal">Brief</h1>
                        <p class="fs-8 fw-light lead">This unique component consists of locating in a system the files of clients that have 
already been attended to in the law firm or, otherwise, registering new clients or 
records of new information and will serve to make faster search.
</p>
                        <h1 class="display-6 font-weight-normal">Benefits</h1>
                        <ul class="fs-8 fw-light lead">
                            <li>Needs that they cover or benefits that they give compared with the competition</li>
                            <li>Compared to CaseLoad, LegalStorer offers a platform with a modern interface design that offers more clarity, convenience and ease of navigation for the user.
                            </li>
                            <li>Compared to Sudespacho.net, LegalStorer is a multiplatform program.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>