    <header class="">
        <!-- Navbar desktop-->
        <nav class="navbar fixed-top navbar-expand-lg ">
            <div class="navbar-brand text-center " style="line-height: 0px">
                <a href="#" class="nav-link aldycon-ps ms-auto py-0 pe-0">
                    <img src="/img/Logo.jpeg"  class="" alt="">
                </a>
            </div>
            <div class="navbar-brand text-center" style="line-height: 0px">
                <a href="index" class="nav-link aldycon-pi py-0 ms-auto my-auto">
                    AdsPost
                </a>
            </div>
            <button class="navbar-toggler ms-auto" style="line-height: 0px" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link text-center active" aria-current="page" href="index">Home</a>
                    <a class="nav-link text-center" href="services">Services</a>
                    <a class="nav-link text-center" href="about">About Us</a>
                    <a class="nav-link text-center" href="contact">Contact</a>
                </div>
            </div>
        </nav>
    </header>